.navbar {
	display: flex;
	justify-content: baseline;
	width: 100%;
}
.menuItems {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.Item {
	font-family: "NeueLight", sans-serif;
}

@media (min-width: 768px) {
	.navbar {
		justify-content: space-between;
		align-items: center;
	}
	.menuItems {
		flex-direction: row;
		align-items: center;
	}
	.Item {
		margin-right: 2rem;
	}
}
